<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic App</title>
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
    <body>
        <nav class = 'navbar navbar-default navbar-static-top'> 
        <div class = 'container'>
            <ul class = 'navnavbar-nav'>
                <li><a class = "Navbar-brand" href="{% url 'index' %}">DJANGO</a></li>
                <li><a class = "navbar-link" href = "{% url 'admin:index' % }">Admin</a></li>
                <li><a class = "navbar-link" href = "{% url 'basic_app: register'%}">Register</a></li>

            {% if user is not authenticated %}
            <li><a class='navbar-link' href ="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a class='navbar-link' href ="{% url 'basic_app:user_login' %}">Login</a></li>
            {% endif %}
                
            </ul>
        </div>
    </nav>
            <div class = "container">
                {% block body_block %}
                {% endblock %}
            </div>
    </body>
</html>