<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>Users</title>
    </head>
    <body>
        <h1> here are the users for AppTwo:</h1>
        {% if users  %}

        <ol>
            {% for persion in users %}
            <li>user Info </li>
            <ul>
                <li> First Name : {{ person.first_name}}</li>
                <li> Last Name : {{ person.last_name}}</li>
                <li> Email : {{ person.email}}</li>
            </ul>
            {% endfor %}
        </ol>

        {% endif %}


    </body>

</html>