
<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8" />
        <title>Base</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
         
    </head>
    <body>
        <nav class = "Navbar navbar-default navbar-static-top"
        <ul class = "nav navbar-nav">
            <li><a class = "navbar-brand" href ="{% url 'basic_app:list'%}">Schools</a></li>
            <li><a class = "navbar-link" href = "{% url 'admin:index' %}">Admin</a></li>
            <li> <a href = "#"></a></li>
        </ul>

        <div class = "container">
            {% block body_block %}
            {% endblock %}

        </div>
</body>

</html>